# Introduction to Coding for AI

## 1. Getting Started

### 1.6. Run your first code

Your first task is to write `print("This is code")` in the cell below, and then click on the **Run** button with the arrow to execute the code. Make sure that the drop-down menu in the icons bar says `Code`. Then you will see that the text `This is code` will be printed below the cell. You can also execute code selecting a cell and pressing `Shift + Enter`.

In [1]:
print("This is code")

This is code

Congratulations! You have just run the first Python code in the course ðŸ™‚

Next, add a new cell below by clicking on the menu `Insert` â†’ `Insert Cell Below`.
Alternatively, click outside the cell so that the line surrounding it goes from green to blue color, and then press `b` on the keyboard to add a new cell *below*, or `a` to add a new cell *above*.
The colors only indicate if you are currently editing a cell (green) or if you are *outside* the cell and can move between cells when using the keyboard arrows.
You can also move cells *up* and *down* using the corresponding arrows in the icons bar.

Go to the new cell you added below, click on the drop-down menu in the icons bar and select `Markdown`.
Then type `### **This** is *markdown*` and run the cell. Do you see the difference? Differently form Code cells, Markdown cells display their output on top of the markdown code instead of below it.

Now that you know how Jupyter notebooks work, you are ready to start diving into Python!

### 1.7. Python elements

To be able to efficiently use Python, there are a few elements you need to know and understand. Just like you would have to know verbs, nouns, or pronouns in English to form a sentence.
Let's start by learning that Python is an **object oriented** programming language.
This means that almost everything in Python is an object with **properties** and **methods**.
Properties are characteristics or values that belong to an object, and methods are functions that execute actions.
You can think of objects as a microwave. It has *properties* like "Heating Time" that you can set to "1 Minute" or "30 Seconds", and it also has *methods* like "Start" and "Stop". We will elaborate more on methods later on.
To start, the first elements of Python that we will show you are **variables**, **data types**, **functions**, and **modules**. As everything in Python, all of them are objects.

- **Variables** are names that indicate the places in the memory of your computer where data is stored.
They are *case-sensitive*, meaning `firstname`, `Firstname` and `firstName` are all different variables.

There are some rules and policies for naming variables. Here are some *DOs*:
- Variable names should be descriptive and meaningful. Use `last_name` instead of `ln`.
- Explicit names make code more maintainable.
- Use lower-case letters and underscores to make them more readable.

Here are some *DON'Ts*:
- Variables can't start with numbers.
- Variables can't have spaces. If you need multiple words use underscore instead: `_`
- Variables can't use some reserved words, such as `True`, `False` or `import`, because they are used by the programming language itself, and using them also as names for variables would confuse Python and make it unusable.

Below you can see the full list of reserved keywords:

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Otherwise, you can name your variables however you like!

- **Data types** are the values that data can have. For example, data can be numbers, text, or booleans (True or False).

In the following cell you can see an example of variables being assigned different data types:

In [4]:
numeric_variable = 123
text_variable = "456"

print("numeric_variable:", numeric_variable)
print("text_variable:", text_variable)

numeric_variable: 123
text_variable: 456

Both data types look the same when printed in the cell, so how can you differentiate them?

- **Functions** are reusable pieces of code that carry out tasks. You have seen now a couple of times the function `print()`. Notice that **functions** are words, like variables, but end with a pair of brackets `()`.
Some times they take in *arguments*, like in the case of `print()` which takes a string or a variable with the value that you want to display.

The second **built-in** function that you will see is `type()`. Built-in means that this function is part of Python itself and you can run it without having to take it from other modules.

- **Modules**, or **libraries**, are collections of code that you can reuse to create a program.
Sometimes they are readily available, like the modules that you can import from the Python **Standard library**, and sometimes you need to install external libraries to be able to import them, like the libraries you will use for writing Machine Learning code.

**Import** means that you load the code to the memory of your computer, and is executed with the command `import`.
You can import modules that include multiple functions, or import single functions directly.
Being able to import single funtions instead of entire modules helps to use less memory, which can help to avoid slowing down your computer.

In [7]:
type_of_numeric_variable = type(numeric_variable)
type_of_text_variable = type(text_variable)

print("Type of numeric_variable:", type_of_numeric_variable )
print("Type of text_variable:",type_of_text_variable )

Type of numeric_variable: <class 'int'>
Type of text_variable: <class 'str'>

### 1.8. Data types

The basic data types that we are interested in this course are:

- Text:	`str`

The data type of text is called **string**, and it is defined by using quotes or double quotes around text (like `'Text string'` or `"Text string"`). You can also use three double-quotes (`"""`) to define string blocks as seen in the example below.

- Numeric:	`int`, `float`

The data type of numbers can be **integers** (`0`, `27`, `-3`) or **floats** when numbers have a decimal point (`0.0`, `27.5`, `-3.1416`).

- Boolean:	`bool`

They are only two Boolean values: `True` and `False`. We will talk more about **booleans** a bit later as they require a more detailed explanation.

- None:	`NoneType`

Finally, we have the **None** type. You can think of None as a placeholder for missing values.

You can define most data types with a long or a short notation:

In [8]:
string_variable = "Hello World"
string_variable = str("Hello World")
string_variable = """
Hello
World
"""

integer_variable = 20
integer_variable = int(20)

float_variable = 20.5
float_variable = float(20.5)

boolean_variable = True
boolean_variable = bool(1)

none_variable = None

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the name of the variables.
3. Change the values of the variables, but keep the same corresponding data types.
4. Print the data type of each variable using the `type()` function.

In [19]:
string_einhorn = "Hello World"
string_einhorn = str("Hello World")
string_einhorn = """
Hello
World
"""

integer_twenty = 20
integer_twenty = int(20)

float_boat = 20.5
float_float = float(20.5)

boolean_variable = True
boolean_variable = bool(1)

none_variable = None

string_einhorn_type_abra= type(string_einhorn)
print(string_einhorn_type_abra)
print(string_einhorn)

integer_twenty_type= type(integer_twenty)
print(integer_twenty_type)

boolean_variable_type= type(boolean_variable)
print(boolean_variable_type)

none_variable_type=type(none_variable)
print(none_variable_type)

<class 'str'>

Hello
World

<class 'int'>
<class 'bool'>
<class 'NoneType'>

Additionally to the data types above, there are other types that are used to hold multiple values. Think of it like having boxes with numbers, strings or combinations of various other data types. Some examples are:

- Sequences:	`list`, `tuple`, `range`

A **list** is a sequence of objects (strings, numbers, other lists, etc.). For example `mixed_list = [1, -3.1, None, True, "cherry"]`

A **tuple** is the same as a list, but we can't modify its elements. This property is called immutability and you will learn later on when this property is useful.

A **range** is a sequence of numbers. For example `range(5)` iterates over the sequence of numbers `0, 1, 2, 3, 4`.

- Mappings:	`dict`

A **dictionary** is a collection of variables that, together with their definitions, are assigned to a single variable. Dictionaries map **keys** and **values** in the same way that English-language dictionaries map **words** to their **definitions**. For example, `{"name": "John", "age": 42}` is a dictionary with the keys `name` and `John`, and the corresponding values `John` and `42`.


- Collections:	`set`

A **set** is the collection of unique elements in a sequence. For example, the set of the following list `[1, 2, 2, 3, 3, 3]` is `{1, 2, 3}`.

These data types can also be defined in multiple ways:

In [5]:
list_variable = ["apple", "banana", "cherry"]
list_variable = list(("apple", "banana", "cherry"))

tuple_variable = ("apple", "banana", "cherry")
tuple_variable = tuple(("apple", "banana", "cherry"))

range_variable = range(5)

dictionary_variable = {"name": "John", "age": 42}
dictionary_variable = dict(name="John", age=42)

set_variable = {"apple", "banana", "cherry"}
set_variable = set(("apple", "banana", "cherry"))

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the name of the variables.
3. Change the values of the variables, but keep the same corresponding data types.
4. Print the data type of each variable using the `type()` function.

In [25]:
list_fruit = ["apple", "banana", "cherry"]
list_fruit = list(("apple", "banana", "cherry"))
list_fruit_type= type(list_fruit)
print(list_fruit_type)

tuple_fruit = ("apple", "banana", "cherry")
tuple_fruit = tuple(("apple", "banana", "cherry"))
tuple_fruit_type = type(tuple_fruit)
print(tuple_fruit_type)

range_row = range(5)

dictionary_person = {"name": "John", "age": 42}
dictionary_person = dict(name="John", age=42)
dictionary_person_type = type(dictionary_person)
print(dictionary_person_type)

set_fruit = {"apple", "banana", "cherry"}
set_fruit = set(("apple", "banana", "cherry"))
set_fruit_type = type(set_fruit)
print(set_fruit_type)

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

Coming back to Booleans, the values used to indicate `True` or `False`.
Notice that they start with a capital letter and don't use quotes, so `true` and `"True"` are not Boolean values.
Booleans also have degrees of *truthiness*. What do we mean? For example, numbers `0` and `0.0` are the only numbers considered *falsy*, all other numbers are considered *truthy*. Think of it as absence vs presence, nothing vs something, `0` vs `1`, or an empty object vs a non-empty object.

Other *falsy* values are:
- Empty strings `""`
- `None`
- Empty lists: `[]`
- Empty tuples: `()`
- Empty ranges: `range(0)`
- Empty dictionaries: `{}`
- Empty sets: `set()`

In [6]:
boolean_variable = False
print(boolean_variable)

boolean_variable = bool(0)
print(boolean_variable)

print(type(boolean_variable))

False
False
<class 'bool'>

#### Exercise:
1. Create 5 variables with different falsy values in the cell below.
2. Print the value of each variable.

In [40]:
a= ""
b= 0
c= []
d= {}
e= None

print (bool(a))
print (bool(b))
print (bool(c))
print (bool(d))
print (bool(e))

a= "3"
b= -1
c= [3]
d= {"name":"Erica", "age": 30}
e= 5

print (bool(a))
print (bool(b))
print (bool(c))
print (d["name"], d["age"])
print (bool(e))

False
False
False
False
False
True
True
True
Erica 30
True

### 1.8. Operators

Now that you know data types, you may wonder what to do with them. All the manipulations that you can apply to values are done through **operators**. Some of the most common operators are:
- Arithmetic: As the name says it, they allow you to do arithmetic operations, such as `+` or `-`.
- Assignment: These operators assign values to variables, like the equal sign (`=`).
- Comparison: They compare if two values are the same, such as *equal* (`==`) or *not equal* (`!=`), and return `True` or `False` accordingly.
- Identity: They also compare two values: `is` or `is not`, but are not exactly the same as `==` or `!=`. Is good to know them, but to avoid potential errors, always use comparison operators instead.
- Logical: These operators are used to connect multiple logical evaluations. For example, if you want to evaluate if a fruit is both, round and orange, you use the operator `and`.
- Membership: Checks if a sequence of objects is present in another object. For example, `"ap" in "apple"` returns `True` as the characters `"ap"` are present in the string of characters `"apple"`.

Let's go one by one with some examples.

#### Arithmetic

- `+`: Addition (`x + y`)
- `-`: Subtraction (`x - y`)
- `*`: Multiplication (`x * y`)
- `/`: Division (`x / y`)
- `%`: Modulus, returns the remainder of a division (`x % y`), or the value on the right side of the decimal point. For example, if you divide 3 cookies between 3 children the remainder is 0 (`3 % 3`), but if you divide them between 2 children the remainder is different to zero (`3 % 2`). This operation helps, for example, when you want to know if a number is even or odd.
- `//`: Floor division, ignores the decimals (`x // y`)
- `**`: Exponentiation (`x ** y`)

Some examples are:

In [7]:
x = 5
y = 2

print("x +  y = ", x +  y)
print("x -  y = ", x -  y)
print("x *  y = ", x *  y)
print("x /  y = ", x /  y)
print("x %  y = ", x %  y)
print("x // y = ", x // y)
print("x ** y = ", x ** y)

x +  y =  7
x -  y =  3
x *  y =  10
x /  y =  2.5
x %  y =  1
x // y =  2
x ** y =  25

In [41]:
x = 4
y = 3

print("x +  y = ", x +  y)
print("x -  y = ", x -  y)
print("x *  y = ", x *  y)
print("x /  y = ", x /  y)
print("x %  y = ", x %  y)
print("x // y = ", x // y)
print("x ** y = ", x ** y)

x +  y =  7
x -  y =  1
x *  y =  12
x /  y =  1.3333333333333333
x %  y =  1
x // y =  1
x ** y =  64

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the values of the variables.
3. Print new results.

- **Going further**: Letâ€™s explore the methods and try some new things out. Add a cell below and find out which operations can also be used with two strings, and which can be used with one string and one number.

In [56]:
x = "hello"
y = "h"

print("x +  y = ", x +  y)
#print("x -  y = ", x -  y)
#print("x *  y = ", x *  y)
#print("x /  y = ", x /  y)
#print("x %  y = ", x %  y)
#print("x // y = ", x // y)
#print("x ** y = ", x ** y)

x = "hello"
y = 4

#print("x +  y = ", x +  y)
#print("x -  y = ", x -  y)
print("x *  y = ", x *  y)
#print("x /  y = ", x /  y)
#print("x %  y = ", x %  y)
#print("x // y = ", x // y)
#print("x ** y = ", x ** y)

x +  y =  helloh
x *  y =  hellohellohellohello

#### Assignment

- `=`: `x = 10`
- `+=`: `x += 5` is the same as `x = x + 5`
- `-=`: `x -= 5` is the same as `x = x - 5`
- `*=`: `x *= 5` is the same as `x = x * 5`
- `/=`: `x /= 5` is the same as `x = x / 5`

Some examples are:

In [8]:
x = 10
x += 5
print("x += 5 = ", x)

x = 10
x = x + 5
print("x = x + 5 = ", x)

x += 5 =  15
x = x + 5 =  15

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Perform the same two computations for each of the assignment operators (`+=`, `-=`, `*=`, `/=`).
3. Print new results.

In [61]:
x = 1
x += 5
print("x += 5 = ", x)

x = 2
x -= 5
print("x -= 5 = ", x)

x = 3
x *= 6
print("x *= 5 = ", x)

x = 2
x /= 5
print("x /= 5 = ", x)

x += 5 =  6
x -= 5 =  -3
x *= 5 =  18
x /= 5 =  0.4

#### Comparison

- `==`: Equal (`x == y`)
- `!=`: Not equal (`x != y`)
- `>`: Greater than (`x > y`)
- `<`: Less than (`x < y`)
- `>=`: Greater than or equal to (`x >= y`)
- `<=`: Less than or equal to (`x <= y`)

Some examples are:

In [62]:
x = 5
y = 2

print("x == y = ", x == y)
print("x != y = ", x != y)
print("x >  y = ", x >  y)
print("x <  y = ", x <  y)
print("x >= y = ", x >= y)
print("x <= y = ", x <= y)

x == y =  False
x != y =  True
x >  y =  True
x <  y =  False
x >= y =  True
x <= y =  False

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the values of the variables.
3. Print new results.

- **Going further**: Add a cel below and find out which operations can also be used with two strings.

In [71]:
x = 3
y = 4

print("x == y = ", x == y)
print("x != y = ", x != y)
print("x >  y = ", x >  y)
print("x <  y = ", x <  y)
print("x >= y = ", x >= y)
print("x <= y = ", x <= y)

x = "hello"
y = 4

print("x == y = ", x == y)
print("x != y = ", x != y)
#print("x >  y = ", x >  y)
#print("x <  y = ", x <  y)
#print("x >= y = ", x >= y)
#print("x <= y = ", x <= y)

x = "hello"
y = "h"

print("x == y = ", x == y)
print("x != y = ", x != y)
print("x >  y = ", x >  y)
print("x <  y = ", x <  y)
print("x >= y = ", x >= y)
print("x <= y = ", x <= y)

x == y =  False
x != y =  True
x >  y =  False
x <  y =  True
x >= y =  False
x <= y =  True
x == y =  False
x != y =  True
x == y =  False
x != y =  True
x >  y =  True
x <  y =  False
x >= y =  True
x <= y =  False

#### Identity

- `is`: Returns `True` if both variables are the same object (`x is y`)
- `is not`: Returns `True` if both variables are not the same object (`x is not y`)

Some examples are:

In [75]:
a = [1,2]
b = [1,2]
c=a
print(a is b)
print(c is a)

False
True

In [10]:
x = 5
y = 2

print("x is y = ", x is y)
print("x is not y = ", x is not y)

x is y =  False
x is not y =  True

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the values of the variables to
  - Task 1: `x = 5`, `y = 5` and print the results.
  - Task 2: `x = 5`, `y = 5.0` and print the results.
3. Tasks 3 and 4: For a little experiment, let's make a small change to our original code from step 1:
  - Instead of `x is y`, use `x == y`
  - Instead of `x is not y`, use `x != y`
  
Once you've done that, repeat step 2.

You will see different results when you compare side-by-side the four tasks.
The reason behind this peculiar situation is that the `==` operator compares the value of two objects, whereas the `is` operator checks whether two variables point to the same object in memory.
It is good to know identity operators exist, but they can cause code bugs if we don't use them carefully. The moral of the lesson is, as a beginner, better use *comparison* operators and avoid using *identity* operators.

In [78]:
x = 5
y = 5

print("x is y = ", x is y)
print("x is not y = ", x is not y)

x = 5
y = 5.0

print("x is y = ", x is y)
print("x is not y = ", x is not y)

x = 5
y = 2

print("x == y = ", x == y)
print("x != y = ", x != y)

x is y =  True
x is not y =  False
x is y =  False
x is not y =  True
x == y =  False
x != y =  True

#### Logical

- `and`: Returns `True` if both statements are true (`x > 5 and x < 10`)
- `or`: Returns `True` if one of the statements is true (`x < 5 or x > 10`)
- `not`: Reverse the result. Returns `False` if the result is true (`not(x < 5 or x > 10)`)

Some examples are:

In [11]:
a = 5
x = 8
b = 10

print("    x > a and x < b  = ",     x > a and x < b)
print("    x < a or  x > b  = ",     x < a or  x > b)
print("not(x < a or  x > b) = ", not(x < a or  x > b))

    x > a and x < b  =  True
    x < a or  x > b  =  False
not(x < a or  x > b) =  True

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the values of the variables.
3. Print new results.

In [1]:
a = 1
x = 2
b = 3

print("    x > a and x < b  = ",     x > a and x < b)
print("    x < a or  x > b  = ",     x < a or  x > b)
print("not(x < a or  x > b) = ", not(x < a or  x > b))

    x > a and x < b  =  True
    x < a or  x > b  =  False
not(x < a or  x > b) =  True

#### Membership

- `in`: Returns `True` if a sequence with the specified value is present in another object (`x in y`)
- `not in`: Returns `True` if a sequence with the specified value is not present in another object (`x not in y`)

Some examples are:

In [12]:
x = 5
y = [-10, -5, 0, 5, 10]

print(x in y)
print(x not in y)

True
False

#### Exercise:
1. Copy the code in the cell above into the cell below.
2. Change the values of the variables.
3. Print new results.

- **Going further**: Add a cell below and repeat the operations with strings.

In [2]:
x = 2
y = [-4, -2, 1, 3, 7]

print(x in y)
print(x not in y)

False
True

This concludes the first milestone! Great job reaching this point. In the following notebook, you will learn about creating your own functions and flows. ðŸ˜Š